<div class="container-fluid" *ngIf="subdomainInformation">
  <h3>{{ 'login.loggingIntoSubdomain' | translate:{'subdomainName': subdomainInformation?.name} }}</h3>
  <form ngNativeValidate #form="ngForm" (ngSubmit)="loginUser()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="email" id="emailAddress" name="emailAddress" class="form-control" placeholder="{{ 'login.emailAddress' | translate }}"
          required pattern="^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="loginCredentials.userEmailAddress"
          #emailAddressField="ngModel" />
        <div
          *ngIf="emailAddressField.invalid && emailAddressField.touched && (emailAddressField.pristine || emailAddressField.value.length == 0)"
          class="alert alert-danger">
          {{ 'login.validationErrorMessages.emailAddressRequired' | translate }}
        </div>
        <div
          *ngIf="emailAddressField.invalid && emailAddressField.touched && emailAddressField.dirty && emailAddressField.value.length != 0"
          class="alert alert-danger">
          {{ 'login.validationErrorMessages.emailAddressInvalid' | translate }}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="password" id="password" name="password" class="form-control" placeholder="{{ 'login.password' | translate }}" required
          [(ngModel)]="loginCredentials.password" #passwordField="ngModel" />
        <div
          *ngIf="passwordField.touched && (passwordField.pristine || (passwordField.dirty && passwordField.value.length == 0))"
          class="alert alert-danger">
          {{ 'login.validationErrorMessages.passwordRequired' | translate }}
        </div>
      </div>
    </div>
    <div class="alert alert-danger col-md-6" *ngIf="isInvalidLoginOrPassword">
      {{ 'login.validationErrorMessages.passwordOrEmailAddressInvalid' | translate }}
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || loginInProgress">{{ 'login.signIn' | translate }}</button>
  </form>
</div>
