<div class="container-fluid">
  <p class="h3 mt-3 text-center">{{ 'lessons.addLesson' | translate }}</p>
  <form ngNativeValidate (ngSubmit)="saveIndividualLesson()" [formGroup]="addIndividualLessonForm">
    <div class="form-row" [ngClass]="{'mb-3': validationMessages.titleValidationMessage}">
      <mat-form-field class="w-100">
        <mat-label>{{ 'lessons.title' | translate }}</mat-label>
        <input matInput type="text" id="titleId" formControlName="title"
          matTooltip="{{ 'lessons.tooltips.maxLength' | translate:{'maxLength': TITLE_MAX_LENGTH} }}"
          autocomplete="off">
        <button mat-button *ngIf="addIndividualLessonForm.get('title').value" matSuffix mat-icon-button
          aria-label="Clear input" (click)="addIndividualLessonForm.get('title').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error>{{validationMessages.titleValidationMessage | async}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-row" formGroupName="lessonDates"
      [ngClass]="{'mb-2': validationMessages.lessonStartDateValidationMessage || validationMessages.lessonEndDateValidationMessage || validationMessages.lessonDatesValidationMessage}">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row">
          <mat-form-field class="mr-5">
            <mat-label>{{ 'lessons.startDate' | translate }}</mat-label>
            <input matInput type="datetime-local" id="lessonStartDateId" formControlName="lessonStartDate">
            <mat-error>{{validationMessages.lessonStartDateValidationMessage | async}}</mat-error>
          </mat-form-field>
          <mat-form-field class="mr-5">
            <mat-label>{{ 'lessons.endDate' | translate }}</mat-label>
            <input matInput type="datetime-local" id="lessonEndDateId" formControlName="lessonEndDate">
            <mat-error>{{validationMessages.lessonEndDateValidationMessage | async}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-error class="mat-small">{{validationMessages.lessonDatesValidationMessage | async}}</mat-error>
        </div>
      </div>
    </div>
    <div class="form-row" [ngClass]="{'mb-3': validationMessages.studentValidationMessage}">
      <mat-form-field class="w-100">
        <mat-label>{{ 'lessons.chooseStudent' | translate }}</mat-label>
        <input type="text" matInput formControlName="student" id="studentId" [matAutocomplete]="studentAutocomplete">
        <mat-autocomplete #studentAutocomplete="matAutocomplete">
          <mat-option *ngFor="let student of filteredAvailableStudents | async"
            [value]="student.fullNameWithEmailAddress">
            {{student.fullNameWithEmailAddress}}
          </mat-option>
        </mat-autocomplete>
        <button mat-button *ngIf="addIndividualLessonForm.get('student').value" matSuffix mat-icon-button
          aria-label="Clear input" (click)="addIndividualLessonForm.get('student').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error>{{validationMessages.studentValidationMessage | async}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-row" [ngClass]="{'mb-3': validationMessages.descriptionValidationMessage}">
      <mat-form-field class="w-100">
        <mat-label>{{ 'lessons.description' | translate }}</mat-label>
        <textarea matInput rows="10" id="descriptionId" formControlName="description"
          matTooltip="{{ 'lessons.tooltips.maxLength' | translate:{'maxLength': DESCRIPTION_MAX_LENGTH} }}"></textarea>
        <button mat-button *ngIf="addIndividualLessonForm.get('description').value" matSuffix mat-icon-button
          aria-label="Clear input" (click)="addIndividualLessonForm.get('description').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error>{{validationMessages.descriptionValidationMessage | async}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="d-flex flex-row">
        <mat-form-field class="mr-5">
          <mat-label><mat-icon class="mr-2">folder</mat-icon><span>{{ 'files.files' | translate }}</span></mat-label>
          <mat-select formControlName="files" id="filesId" multiple (click)="sortFilesAlphabetically()">
            <mat-option *ngFor="let fileInformation of filesInformation" [value]="fileInformation">
              {{fileInformation.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <courses-file-upload></courses-file-upload>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-4">
      <button mat-raised-button class="text-primary" routerLink="../"><mat-icon class="mr-2">keyboard_return</mat-icon><span>{{ 'lessons.getBackToList' | translate }}</span></button>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!addIndividualLessonForm.valid"><mat-icon class="mr-2">save</mat-icon><span>{{ 'lessons.saveNewLesson' | translate }}</span></button>
    </div>
  </form>
</div>
