<div class="d-flex flex-row justify-content-between align-items-end">
  <div class="d-flex flex-row m-1">
    <button mat-raised-button color="primary" class="mr-3 mb-2" mat-button
      [matMenuTriggerFor]="newLessonsMenu">{{ 'lessons.newLesson' | translate }}</button>
    <mat-menu #newLessonsMenu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="add">{{ 'lessons.addLesson' | translate }}</button>
      <button mat-menu-item routerLink="schedule">{{ 'lessons.scheduleLessons' | translate }}</button>
    </mat-menu>
    <mat-form-field>
      <mat-label>{{ 'lessons.enterFilter' | translate }}</mat-label>
      <input matInput (keyup)="filter()" placeholder="{{ 'lessons.filterPlaceholder' | translate }}"
        [(ngModel)]="filterValue">
      <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear input" (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-checkbox class="mb-2" color='primary' [checked]="showFinishedLessons" (change)="handleShowingFinishedLessons()">
    {{ 'lessons.showFinishedLessons' | translate }}</mat-checkbox>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="startDateOfLesson"
    matSortDirection="asc">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'lessons.title' | translate }}</th>
      <td mat-cell class="cursor-pointer" *matCellDef="let individualLesson">{{individualLesson.title}}</td>
    </ng-container>
    <ng-container matColumnDef="startDateOfLesson">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'lessons.startDate' | translate }}</th>
      <td mat-cell class="cursor-pointer" *matCellDef="let individualLesson">
        {{individualLesson.startDateOfLesson | date: 'dd-MM-yyyy H:mm'}}</td>
    </ng-container>
    <ng-container matColumnDef="endDateOfLesson">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'lessons.endDate' | translate }}</th>
      <td mat-cell class="cursor-pointer" *matCellDef="let individualLesson">
        {{individualLesson.endDateOfLesson | date: 'dd-MM-yyyy H:mm'}}</td>
    </ng-container>
    <ng-container matColumnDef="studentFullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'lessons.studentFullName' | translate }}</th>
      <td mat-cell class="cursor-pointer" *matCellDef="let individualLesson">{{individualLesson.studentFullName}}</td>
    </ng-container>
    <ng-container matColumnDef="studentEmailAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'lessons.studentEmailAddress' | translate }}</th>
      <td mat-cell class="cursor-pointer" *matCellDef="let individualLesson">{{individualLesson.studentEmailAddress}}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <td mat-cell *matCellDef="let individualLesson" [attr.colspan]="COLUMNS_TO_RENDER.length">
        <div class="individual-lesson-detail"
          [@detailsExpand]="individualLesson === expandedIndividualLesson ? 'expanded' : 'collapsed'">
          <div class="individual-lesson-detail-content">
            {{individualLesson.description}}
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="filesInformation">
      <td mat-cell *matCellDef="let individualLesson" [attr.colspan]="COLUMNS_TO_RENDER.length">
        <div class="individual-lesson-detail"
          [@detailsExpand]="individualLesson === expandedIndividualLesson ? 'expanded' : 'collapsed'">
          <courses-file-list *ngIf="individualLesson?.filesInformation && individualLesson.filesInformation.length"
            [filesInformation]="individualLesson.filesInformation"></courses-file-list>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="COLUMNS_TO_RENDER"></tr>
    <tr mat-row *matRowDef="let individualLesson; columns: COLUMNS_TO_RENDER;" class="individual-lesson-row"
      [class.expanded-row]="expandedIndividualLesson === individualLesson"
      (click)="handleExpandingIndividualLessonDescription(individualLesson)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['description']" class="individual-lesson-detail-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['filesInformation']" class="individual-lesson-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="handlePageEvent($event)" #paginator>
  </mat-paginator>
</div>
