.mat-icon-display {
  transform: scale(2);
}

table {
  width: 100%;
}

.mat-column-ordinalNumber {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.title-invalid-length {
  background-color: red;
}
