<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="name" matSortDirection="asc">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'files.name' | translate }}</th>
    <td mat-cell *matCellDef="let fileInformation">{{fileInformation.name}}</td>
  </ng-container>
  <ng-container matColumnDef="createdBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'files.createdBy' | translate }}</th>
    <td mat-cell *matCellDef="let fileInformation">{{fileInformation.createdBy}}</td>
  </ng-container>
  <ng-container matColumnDef="creationDateTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'files.creationDateTime' | translate }}</th>
    <td mat-cell *matCellDef="let fileInformation">{{fileInformation.creationDateTime | date: 'dd-MM-yyyy H:mm'}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="COLUMNS_TO_RENDER"></tr>
  <tr mat-row *matRowDef="let fileInformation; columns: COLUMNS_TO_RENDER;" class="file-information-row">
  </tr>
</table>
