<div *ngIf="subdomainInformation$ | async as subdomainInformation">
  <p>subdomain works!</p>
  <p>Sudomain data:</p>
  <p>Subdomain name: {{this.subdomainInformation.name}}</p>
  <p>Subdomain alias: {{this.subdomainInformation.alias}}</p>
  <p>Subdomain description: {{this.subdomainInformation.description}}</p>
  <p>Subdomain emailAddress: {{this.subdomainInformation.emailAddress}}</p>
  <p>Subdomain phoneNumber: {{this.subdomainInformation.phoneNumber}}</p>
  <p>Subdomain websiteUrl: {{this.subdomainInformation.websiteUrl}}</p>
</div>
