<div class="container-fluid">
  <div class="row">
    <nav id="tutorMenu" class="col-md-2 col-lg-2 col-lx-2 d-md-block bg-dark sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-5 text-light">
            {{subdomainInformation.name}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Kalendarz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Zajęcia indywidualne
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Zajęcia grupowe
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Profil
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-10 col-lg-10 col-lx-10 ml-sm-auto">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <div class="d-block bg-success" style="height: 200px; width: 200px;">
          <h1>Moja stronka</h1>
        </div>
      </div>
    </main>
  </div>
</div>
