<div class="container-fluid">
  <div class="row">
    <nav id="tutorMenu" class="col-md-2 col-lg-2 col-lx-2 d-md-block bg-dark sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-5 text-light">
            {{subdomainInformation.name}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Kalendarz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="lessons/individual">
              Zajęcia indywidualne
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Zajęcia grupowe
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Profil
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-10 col-lg-10 col-lx-10 ml-sm-auto">
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
